td {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    text-align: center;
   
}

.table-border {
    border: none;
    
}

h1 {
    text-align: center;
}

.first-element {
    width: 120px;
    height: 120px;
    background-color: yellow;
    transform: translate(-300%, 120%);
}

.content{
    
}

.second-content{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;

}

.red{
    background-color: red   ;
}

.space {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.blank {
    border: none;
    transform: translate(-300%, 120%);
    font-size: 20px;
}