td {
    
    border: 1px solid black;
    text-align: center;
   
   

}

.table-border {
    border: none;
    
}

h1 {
    text-align: center;
}

.first-element {
    width: 120px;
    height: 120px;
    background-color: yellow;
    transform: translate(-300%, 120%);
}

.content{
    width: 100%;
}

.second-content{
    

}